@page
@model SiteCasamento.Pages.Admin.LoginModel
@{
    ViewData["Title"] = "Admin - Login";
}

<div class="container mt-5" style="max-width:420px;">
    <h3 class="fw-bold mb-3">Área Administrativa</h3>

    @if (!string.IsNullOrEmpty(Model.Erro))
    {
        <div class="alert alert-warning">@Model.Erro</div>
    }

    <form method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label class="form-label">Senha</label>
            <input type="password" class="form-control" asp-for="Senha" />
        </div>

        <button class="btn btn-primary w-100">Entrar</button>
    </form>
</div>