@page
@model SiteCasamento.Pages.Admin.PessoaCreateModel
@{
    ViewData["Title"] = "Adicionar Pessoa";
}

<div class="container mt-5" style="max-width:720px;">
    <h3 class="fw-bold">Adicionar Pessoa</h3>

    <div asp-validation-summary="All" class="text-danger mb-3"></div>

    <form method="post" class="card p-4 shadow-sm border-0">
        @Html.AntiForgeryToken()

        <input type="hidden" asp-for="Pessoa.ConviteId" />

        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input class="form-control" asp-for="Pessoa.Nome" placeholder="Ex: Fábio" />
        </div>

        <button class="btn btn-primary">Salvar</button>
        <a class="btn btn-link" asp-page="/Admin/ConvitePessoas" asp-route-id="@Model.Pessoa.ConviteId">Cancelar</a>

    </form>
</div>